<h2>Paises</h2>
<hr>
<div class="list-group">
  <!-- <a href="#" [routerLink]="['']" class="list-group-item list-group-item-action" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }" aria-current="true">
    Home page
  </a> -->
  <a href="#" [routerLink]="['/home']" class="list-group-item list-group-item-action" routerLinkActive="active"
    aria-current="true">
    Home page
  </a>
  <a href="#" [routerLink]="['/about']" class="list-group-item list-group-item-action" routerLinkActive="active">
    About page
  </a>
  <a href="#" [routerLink]="['/contact']" class="list-group-item list-group-item-action" routerLinkActive="active">
    Contact page
  </a>
  <a href="#" [routerLink]="['/countries', 'by-capital']" class="list-group-item list-group-item-action"
    routerLinkActive="active">
    Por capital
  </a>
  <a href="#" [routerLink]="['/countries', 'by-country']" class="list-group-item list-group-item-action"
    routerLinkActive="active">
    Por país
  </a>
  <a href="#" [routerLink]="['/countries', 'by-region']" class="list-group-item list-group-item-action"
    routerLinkActive="active">
    Por región
  </a>
  <a href="#" [routerLink]="['/countries', 'by', 'PE']" class="list-group-item list-group-item-action"
    routerLinkActive="active">
    Ver
  </a>
</div>
